.movie-list-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .movie-list {
    grid-template-columns: 1fr;
  }
}

.movie-list h1 {
  font-size: 2rem;
}

.pagination-buttons {
  margin-top: 20px;
}

.pagination-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.pagination-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  div {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .filters {
    flex-wrap: wrap;
    gap: 0.2rem;
  }
}

@media screen and (max-width: 480px) {
  .filters {
    flex-direction: column;
  }
}
